<div *ngIf="isLoading" class="loading-container">
  Loading details...
</div>

<ng-container *ngIf="!isLoading">
  <ng-container *ngIf="location; else errorTemplate">
    <div class="location-details">
      <h2>{{ location.locationName }}</h2>
      <p>{{ location.street }}</p> <!-- Add this line to show the address -->
      <p>{{ location.city }}</p>
      <p>{{ location.zip }}</p>
      <p>{{ location.state }}</p>
      <!-- Location Image -->
      <div class="location-image">
        <!--img src="{{ location.imageUrl }}" alt="Image of {{ location.name }}" /-->
      </div>
      <!--<p>{{ location.description }}</p>-->
      
      <!-- Location Reviews -->
      <div class="location-reviews">
        <button (click)="loadReviews()">Load Reviews</button>
        <ul *ngIf="reviews.length > 0; else noReviewsTemplate">
          <li *ngFor="let review of reviews">
            <p>
              <strong>{{ review.reviewUserId }}</strong>: {{ review.reviewText }}
              <span class="stars-container">
                <span [ngStyle]="{'width': getStarsWidth(review.rating)}" class="stars-filled">★★★★★</span>
                <span class="stars-empty">★★★★★</span>
              </span>
            </p>
          </li>
        </ul>
      </div>
      

    </div>
  </ng-container>
</ng-container>

<div class="review-form">
  <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
    <label for="content">Review</label>
    <textarea formControlName="content" id="content" required></textarea>

    <button type="submit" [disabled]="reviewForm.invalid">Post Review</button>
  </form>
</div>

<ng-template #noReviewsTemplate>
  <p>No reviews yet.</p>
</ng-template>

<ng-template #errorTemplate>
  <p>Error loading location details. Please try again later.</p>
</ng-template>

