/* Location Details Page Styling */
.location-details {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;

  h2 {
    color: #333;
    margin-bottom: 10px;
  }

  p {
    color: #666;
    line-height: 1.6;
  }

  .location-image {
    margin: 20px 0;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 4px;
    }
  }

  .location-reviews {
    margin-top: 20px;

    h3 {
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        background-color: #fff;
        border-bottom: 1px solid #eee;
        padding: 10px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #f0f0f0;
        }

        p {
          margin: 0;
          color: #333;

          strong {
            color: #000;
          }
        }
      }
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

.review-form {
  margin-top: 30px;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #218838;
    }
  }
}

.stars-container {
  display: inline-block;
  position: relative;
  font-size: 18px;
  color: #ddd; /* Color for empty stars */
}

.stars-filled {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #f5c518; /* Color for filled stars */
}

.stars-empty {
  z-index: 1;
}


/* Loading Container Style */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 20px;
  color: #666;
}
