<div class="container">
    <label for="location_name">Location Name:</label>
    <input id="location_name" type="text" [formControl]="locationName">
    
    <label for="street">Street:</label>
    <input id="street" type="text" [formControl]="street">
    
    <label for="city">City:</label>
    <input id="city" type="text" [formControl]="city">
    
    <label for="zip">Zip:</label>
    <input id="zip" type="text" [formControl]="zip">
    
    <label for="state">State:</label>
    <input id="state" type="text" [formControl]="state">
    
    <button class="btn" (click)="onCreateLocation()">Create</button>
</div>

